<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowers</title>
    <link rel="stylesheet" href="../styles/flowers.css">
</head>

<body>
    <div class="main">
        <div class="flower">
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="center"></div>
            <div class="stem"></div>
            <div class="leaf-1"></div>
            <div class="leaf-2"></div>
            <div class="leaf-3"></div>
            <div class="leaf-4"></div>
        </div>
        <div class="flower-with-a-pot">
            <div class="pot">
                <div class="upper-border"></div>
                <div class="pot-structure"></div>
            </div>
        </div>
        <div class="grass">
        </div>
</body>

</html>