<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowers</title>
    <link rel="stylesheet" href="../styles/flowers.css">
</head>

<body>
    <div class="main">
        <div class="flower" id="flowers">
            <div class="petal" id="flowers"></div>
            <div class="petal" id="flowers"></div>
            <div class="petal" id="flowers"></div>
            <div class="petal" id="flowers"></div>
            <div class="petal" id="flowers"></div>
            <div class="petal" id="flowers"></div>
            <div class="petal" id="flowers"></div>
            <div class="petal" id="flowers"></div>
            <div class="center" id="flowers"></div>
            <div class="stem" id="flowers"></div>
            <div class="leaf-1" id="flowers"></div>
            <div class="leaf-2" id="flowers"></div>
            <div class="leaf-3" id="flowers"></div>
            <div class="leaf-4" id="flowers"></div>
        </div>
        <!-- <div class="flower-with-a-pot">
            <div class="pot">
                <div class="upper-border"></div>
                <div class="pot-structure"></div>
            </div>
        </div> -->
        <div class="grass">
        </div>
        <script src="../controllers/flowers.js"></script>
</body>

</html>